.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Varela Round', sans-serif;
  justify-content: center;
  margin-top: 2em;
  padding: 5em;
}

.blank-key {
  width: 3rem;
}

.carat {
  background-color: #FEFEFE;
  display: inline-block;
  height: 2.7rem;
  margin-left: 0.5rem;
  margin-top: 0.7rem;
  width: 1rem;
}

.light-mode {
  color: #000;
}

.dark-mode {
  color: #FEFEFE;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
  width: 70%;
}

.header-wrapper header {
  display: flex;
}

.header-wrapper .logo {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  margin-top: 0.1em;
}

.header-wrapper header img {
  margin-right: 1em;
  width: 4em;
}

.Key {
  align-items: center;
  border-radius: 0.4rem;
  border: solid 2px #FEFEFE;
  display: flex;
  height: 3em;
  justify-content: center;
  width: 3em;
  margin: 0.35rem;
}

.key-glyph {
  font-size: 1rem;
}

.key-group {
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
}

.left-side {
  min-width: 40%;
}

.subtitle {
  color: #FEFEFE;
  font-size: 1rem;
  letter-spacing: 0.05em;
} 

.intro {
  color: #9677DF;
  width: 90%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;
}

.tab {
  width: 5rem;
}

.Thoccy {
  color: #FEFEFE;
  display: flex;
  height: auto;
  width: 70%;
}

.typing-area {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-width: 30%;
  width: 60%;
}

.typing-area textarea {
  -moz-box-shadow: 0px 4px 21px -6px rgba(0,0,0,0.42);
  -webkit-box-shadow: 0px 4px 21px -6px rgba(0,0,0,0.42);
  background-color: #353C45;
  border-radius: 0.5rem;
  border: solid #9677DF 2px;
  box-shadow: 0px 4px 21px -6px rgba(0,0,0,0.42);
  color: #FEFEFE;
  height: 5em;
  padding: 1rem;
  resize: none;
  text-align: left;
  width: 100%;
}

.typing-area .wpm {
  color: #FEFEFE;
  font-size: 0.7rem;
  margin-top: 0.5rem;
  opacity: 0.4;
  padding: 0.5rem;
}

.options {
  color: #FEFEFE;
}

.options form label {
  padding-left: 1rem;
  padding-right: 0.5rem;
}